@media screen and (min-width:300px) {
  html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    height: 100vh;
  }
  html {
    font-size: 62.5%;
  }

  h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
    color: white;
  }
  p {
    font-family: serif;
    color: white;
  }
  h1, h3 {
    padding: 1.5rem 0;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .5rem;
  }
  h3 {
    font-size: 1.8rem;
    letter-spacing: .2rem;
  }
  h2 {
    font-size: 4rem;
    font-weight: 600;
    margin: 0;
    line-height: 4.5rem;
  }
  h4 {
    font-size: 1.8rem;
    margin: 1rem;
  }
  p {
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.4rem;
  }
  a {
    font-size: 2rem;
    color: #f2f69e;
    text-decoration: none;
  }
  a:visited {
    color: #ccf9d2;
  }
  ul {
    list-style-type: none;
  }
  /* =================================== HOME STYLES ====================================== */
  .home-content {
    background-image: url("bgphoto.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
    height: 100vh;
  }
  .home-wrapper {
    text-align: center;
    margin: auto;
    width: 80vw;
    padding-top: 2.5rem;
  }
  .home-calculate {
    position: absolute;
    bottom: 5rem;
    width: 100%;
    text-align: center;
  }
  button,
  input,
  select {
    font-family: inherit;
    font-size: 2rem;
    margin: 2rem auto;
    line-height: normal;
    display: block;
    color: #587060;
    border: 1px solid rgb(194, 192, 192);
    padding: 1.5rem 1rem;
    background:white;
    text-transform: uppercase;
    border-radius: 3em;
    letter-spacing: 2px;
    text-align: center;
    width: 20rem;
  }
  ::placeholder {
    color: #587060;
  }
  input:hover, 
  input:focus, 
  select:hover, 
  select:focus {
    color: #fff;
    background: #587060;
  }
  input:hover::placeholder,
  input:focus::placeholder {
    color:#fff;
  }
  option {
    color: #fff;
  }
  .go {
    border-radius: 50%;
    width: 6rem;
    background: #95921d;
    color: #fff;
  }
  .go:hover, 
  .go:focus {
    background: #5b3d00;
    color: #fff;
    cursor: pointer;
  }
 /* =================================== HEADER STYLES =================================== */
 header {
  background-color: #06424a;
  height: 20rem;
  text-align: center;
}
header h1 {
  float: left;
  margin: 2rem;
}
.recalculate {
  display: inline-block;
}
nav ul {
  list-style: none;
  margin-right: 2rem;
  float: right;
}
nav li {
  display: inline-block;
  margin: 2rem;
}
 .recalculate select,
 .recalculate input,
 .recalculate button {
   font-size: 1.5rem;
   padding: .5rem;
   width: 15rem;
 }
  /* =================================== APP PAGE STYLES =================================== */
 .left {
    background-color: #06424a;
  }
  .left p, 
  .left h1, 
  .left h2, 
  .left h3 {
    color: #fff;
  }
  .right {
    background-color: #06424a;
  }
  .impact {
    padding: 5rem;
  }
  .action {
    padding: 5rem;
  }
  .renewable {
    width: 75%;
  }
  .helpful-hints {
    counter-reset: list-counter;
    list-style-type: none;
    display: none;
  }
  .helpful-hints li {
    position: relative;
    padding: 0 0 .5rem 4rem;
  }
  .helpful-hints li::before {
    font-family: sans-serif;
    font-weight: 600;
    position: absolute;
    top: .2rem;
    left: 0;
    height: 2.5rem;
    width: 2.5rem;
    content: counter(list-counter);
    counter-increment: list-counter;
    border: 1px solid #000;
    border-radius: 50%;
    display: inline-block;
    font-size: 1.4rem;
    line-height: 2.5rem;
    text-align: center;
    color: #000;
  }
  .bold {
    font-weight: 600;
  }
  .list-toggle {
    cursor: pointer;
    position: relative;
    padding-left: 2rem;
  }
  .list-toggle:before {
      content: "\005E";
      font-size: 2rem;
      font-stretch: ultra-expanded;
      transform: rotate(180deg);
      transition: transform .4s ease;
      display: block;
      position: absolute;
      left: 0;
  }


  .active {
    display: block;
  }

} /* ---------------------------end styles for min-width 300px------------------------------- */
@media screen and (min-width:600px) {
  h1, h3 {
    font-size: 3rem;
    line-height: 3rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 7rem;
    line-height: 7.5rem;
  }
  /* =================================== HOME STYLES ====================================== */
  input,
  select {
    display: inline-block;
    margin: 2rem;
  }
  /* =================================== APP PAGE STYLES =================================== */
  .left {
    height: 100%;
    width: 50vw;
    position: absolute;
    left: 0;
  }
  .right {
    width: 50vw;
    position: absolute;
    right: 0;
  }


} /* ----------------------------------end styles: min-width 600px-------------------------  */