/* Colors:
#06424a - dark green
#96f6d0 - bright green
#ccf9d2 - light green
#f2f69f - yellow
#fff
#5c5c5c - gray 
#00638a - blue */

/* OR:
#f8c420 - gold
#bcbd46 - lime
#75a154 - green
#3bb793 - teal
#5bc2e3 - blue
#5077ba - almost purple
*/


@media screen and (min-width:300px) {
  html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    height: 100vh;
  }
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
  }
  p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #06424a;
    font-size: 2rem;
    font-weight: 200;
    line-height: 2.6rem;
  }
  h1, h3 {
    padding: 1.5rem 0;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1.3;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .5rem;
  }
  h3 {
    font-size: 2.7rem;
    letter-spacing: .2rem;
  }
  h2 {
    font-size: 4rem;
    font-weight: 600;
    margin: 0;
    line-height: 4.5rem;
  }
  h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    margin: 1rem;
    padding: 1rem;
    color: #06424a;
    text-transform: uppercase;
    text-decoration: underline;
    /* letter-spacing:.5rem; */
    cursor: pointer;
  }
  a {
    font-size: 2rem;
    color: #f2f69e;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  a:visited {
    color: #ccf9d2;
  }
  ul {
    list-style-type: none;
  }
  /* .visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  } */
  /* =================================== MOBILE HOME STYLES ====================================== */
  /* .home-content {
    background-image: url("bgphoto.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
    height: 100vh;
  } */
  /* TODO: background is fixed on mobile but moves up and temporarily leaves white space if scroll too fast */
  body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url("bgphoto.jpg") no-repeat center center;
    background-size: cover;
  }
  .home-wrapper {
    text-align: center;
    margin: auto;
    width: 80vw;
    padding-top: 2.5rem;
  }
  .home-content h1,
  .home-content h2,
  .home-content h3,
  .home-content p {
    color: white;
  }
  .home-content h2 {
    font-size: 3rem;
  }
  .home-calculate {
    position: absolute;
    bottom: 5rem;
    width: 100%;
    text-align: center;
  }
  button,
  input,
  select {
    font-family: inherit;
    font-size: 2rem;
    margin: 2rem auto;
    line-height: normal;
    display: block;
    color: #587060;
    border: 1px solid rgb(194, 192, 192);
    padding: 1.5rem 1rem;
    background:white;
    text-transform: uppercase;
    border-radius: 3em;
    letter-spacing: 2px;
    text-align: center;
    width: 20rem;
  }
  ::placeholder {
    color: #587060;
  }
  input:hover, 
  input:focus, 
  select:hover, 
  select:focus {
    color: #fff;
    background: #587060;
  }
  input:hover::placeholder,
  input:focus::placeholder {
    color:#fff;
  }
  option {
    color: #fff;
  }
  .go {
    border-radius: 50%;
    width: 6rem;
    background: #95921d;
    color: #fff;
  }
  .go:hover, 
  .go:focus {
    background: #5b3d00;
    color: #fff;
    cursor: pointer;
  }
  a.photo-credit {
    color:#95921d;
    font-size: 11px;
    position: absolute;
    bottom:-2.5rem;
    right: 2rem;
  }
  a.photo-credit :hover {
    text-decoration: none;
  }
  a.photo-credit :visited {
    color: #95921d;
  }
 /* =================================== MOBILE HEADER STYLES =================================== */
 /* .content {
  background-image: url("bgphoto.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100%;
  height: 100vh;
 } */
 header {
  padding: 2rem;
  }
  header h1 {
    margin: 0 1rem;
    padding: 1rem 0 0 0;
    display: contents;
  }
  .recalculate {
    display: none;
  }
  nav {
    float: right;
    margin: 0;
    padding: 0;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav li {
    display: block;
    margin: 0 2rem 2rem 2rem;
  }
  nav a {
    color: #f2f69f;
    font-size: 2.2rem;
  }
  .recalculate select,
  .recalculate input,
  .recalculate button {
    font-size: 1.5rem;
    padding: .5rem;
    width: 12rem;
    letter-spacing: 0;
    display: inline-block;
    margin: 2rem;
  }
  .recalculate button {
    background-color: #ccf9d2;
  }
  .recalculate button:hover {
    background-color: #587060;
    color: #fff;
  }
  .share-popup-wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.6);
    display: block;
    transition: all 350ms cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 5000;
    opacity: 0;
    visibility: hidden;
  }
  .share-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #06424a;
    max-width: 500px;
    text-align: center;
    width: 100%;
    transform: translate(-50%, -50%);
    box-shadow: 6px 6px 25px 5px rgba(22,26,26,.3);
  }
  .share-popup h3 {
    color: #fff;
    padding: 4rem;
    text-transform: none;
  }
  .share-popup p {
    color: rgb(204, 249, 210, .8);
    display: inline-block;
    padding: 5rem;
  }
  .open {
    opacity: 1;
    visibility: visible;
  }
  .close {
    width: 3rem;
    background-color: #06424a;
    color: rgb(255, 255, 255, .3);
    position: absolute;
    top: -4%;
    left: 88%;
    border: none;
    font-weight: 100;
    transform: scale(1.2,1);
    font-size: 2.5rem;
    cursor: pointer;
  }
    /* =================================== MOBILE MAIN STYLES =================================== */
  .info-wrapper {
    width: 90%;
    margin: 7rem 3rem;
    position: relative;
  }
  .icon {
    display: inline-block;
    height: 4rem;
    margin: .5rem;
  }
  .info-wrapper h3 {
    display: inline-block;
  }
  .info-box {
    padding: 1rem;
    background-color: rgb(204, 249, 210, .9);
    text-align: center;
    /* border-radius: 10px; */
    display: inline-block;
    width: 90%;
    box-shadow: 6px 6px 25px 5px rgba(22,26,26,.5);

  }
  .info-box a {
    color: #f2f69f;
  }
  .info-box-title-bar {
    display: flex;
    align-items: center;
    width:90%;
  }
  .list-toggle {
    background-color: #5077ba;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    font-size:1.8rem;
  }
  .list-title {
    margin-top: 2.5em;
    font-size: 16.5px;
    letter-spacing: .6px;
  }
  .list-title a {
    color: #06424a;
  }
  .list-details {
    padding: 12px 0;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #f8f7f3;
    font-size: 14.5px;
  }
  .stamp {
    width: 20rem;
    position: absolute;
    display: none;
  }
  .emissions {
    font-size: 4rem;
    font-weight: 500;
    line-height: 4rem;
    padding: .5rem;
    color: #5077ba;
  }
  .helpful-hints p {
    line-height: 3rem;
    margin: 1rem;
  }
  ol {
    padding: 0;
    list-style-type: none;
  }
  .helpful-hints li {
    /* position: relative; */
    padding: 0 0 .5rem;
  }
  .bold {
    font-weight: 600;
    color:#5077ba;
  }
  .provider-list {
    text-align: left;
    display: none;
    padding: 0;
  }
  .provider-list li {
    margin: 2rem;
    margin-left: 1rem;
    display: list-item;
  }
  .provider-list a {
    font-size: 2.5rem;
    font-weight: 100;
  }
  .provider-list a :visited {
    color: #f2f69f;
  }
  .provider-list p {
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
  }
  .hidden {
    display: none;
  }
  .active {
    display: block;
  }
  .do-more li {
    margin: 4rem 0;
  }
  .do-more-ideas {
    list-style: square outside none;
    color: #06424a;
    text-align: left;
  }
  .do-more-ideas li {
    margin: 0;
    padding: 0;
  }
  .do-more-ideas p {
    margin: 0;
    color:#06424a;
  }
  .info-wrapper a {
    font-size: 1.6rem;
    text-transform: uppercase;
  }
  .info-link-wrapper {
    width: 90%;
    padding-top:.5rem;
  }
  .info-link {
    font-size:1.6rem;
  }
  .do-more-link {
    color: #f2f69f;
    font-size: 2rem !important;
    margin-top: 4rem;
  }
   /* =================================== MOBILE SHARE POPUP =================================== */
 
  .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .share-icon-border {
    padding:10px;
  }
  .share-icon {
    height:45px;
    margin: 0 3rem 3rem 3rem;
  }
 /* =================================== MOBILE SHARE CONTACT FORM =================================== */
 .contact-us form {
   text-align: left
 } 
 .contact-us input {
    border-radius: 0;
    display: block;
    margin: .5rem auto 3rem;
    width: 100%;
    text-transform: none; 
  }
  .contact-us input::placeholder {
    text-transform: uppercase;
  }
  .contact-us label {
    font-size: 2rem;
    display: block;
    position: absolute;
    bottom: .8em;
    left: 2em;
    width: 100%;
    transition: 0.2s;
    color: #5c5c5c;
    text-transform: uppercase;
  }
  .contact-us input[type=submit] {
    background-color: #06424a;
    border-radius: 2rem;
    color: #fff;
  }
  .contact-us input[type=submit]:focus,
  .contact-us input[type=submit]:hover {
    background-color: #587060;
  } 
  form > div {
    position: relative;
  }
  form > div > label {
    position: absolute;
  }
  .contact-us input:hover + label {
    color: lightgray;
    cursor: text;
  }
  .contact-us input:focus + label,
  .contact-us input:valid + label {
    top: .5em;
    left: .5em;
    color:#808080;
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
    clip: auto;
    margin: 0;
    display: block;
    text-transform: uppercase;
  }
  .contact-us input:focus + label {
    color: lightgray;
  }


} /* ---------------------------end styles for min-width 300px------------------------------- */
@media screen and (min-width:760px) {
  h1, h3 {
    font-size: 3rem;
  }
  h2 {
    font-size: 7rem;
    line-height: 7.5rem;
  }
  .home-content h2 {
    font-size: 7rem;
  }
  h3 {
    font-size: 4rem;
  }
  h4 {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing:.4rem;
  }
  p {
    font-size: 2.8rem;
    font-weight: 200;
    line-height: 3.6rem;
  }
  a {
    font-size: 2rem;
  }
  .info-wrapper a {
    font-size: 2rem;
  }
  .info-link {
    font-size:2rem;
  }
  a.photo-credit {
    font-size: 12px;
    position: absolute;
    bottom:0;
  }
 /* =================================== TABLET HEADER STYLES =================================== */
 .recalculate {
  display: inline-block;
}
 .recalculate-form {
  margin: 1.5rem 0;
  display: inline-block;
}
nav a {
  font-size: 2.7rem;
}
  /* ================================= TABLET HOME STYLES ====================================== */
  input,
  select {
    display: inline-block;
    margin: 2rem;
  }
  header {
    height: 15rem;
    position: sticky;
    top: 0;
    }
  header h1 {
    float: left;
    margin: 2rem;
    display: block;
  }
  .recalculate {
    position: absolute;
    left: 0;
    top:75px;
  }
  .recalculate-form {
    width: auto;
    margin: 0;
  }
  nav {
    float: right;
  }
  nav ul {
    margin: 2rem;
    float: right;
  }
  nav li {
    display: inline-block;
  }
    /* =============================== TABLET MAIN STYLES =================================== */
  .info-wrapper {
    margin: 10rem;
    width: 50%;
    text-align: left;
  }
  .info-box {
    padding: 5rem;
    background-color: rgb(204, 249, 210, .8);
  }
  .list-toggle {
    font-size:2rem;
  }
  .right-wrapper {
    float: right;
  }
  .left-wrapper {
    clear: right;
  }
  .left-float {
    float: left;
  }
  .icon {
    height: 8rem;
    margin-right: 2rem;
  }
  .do-more-link {
   font-size: 2.8rem;
  }
  .emissions {
    font-size: 6rem;
    line-height: 1em;
  }

} /* ----------------------------------end styles: min-width 760px-------------------------  */
@media screen and (min-width:1050px) {
  header {
    background: rgb(6, 66, 74, .2);
    z-index: 2;
    padding: 0;
    height: 89px;
  }
  header ul {
    margin: 3.5rem;
  }
  .stamp {
    display: block;
  }
  .stamp1 {
    top: 18%;
    left: 81%;
    transform: rotate(20deg);
  }
  .stamp2 {
    top: 132px;
    left: -174px;
    transform: rotate(-20deg);
  }
  .recalculate {
    position: static;
  }
   .recalculate-form {
    margin: 1.5rem 0 0 5rem;
  }

} /* ----------------------------------end styles: min-width 1050px-------------------------  */
